altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
et-xmlfile
fonttools
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
openpyxl
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
urllib3
watchdog
xlsxwriter
